.header {
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 10px;
}

.punkLogo {
  width: 200px;
}

.searchBar {
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.searchIconContainer {
  margin: 10px;
}

.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #eee;
}

.headerItems {
  display: flex;
  color: #a1a5b0;
}

.headerItems > p {
  margin: 10px;
  cursor: pointer;
}

.headerActions {
  display: flex;
  align-items: center;
}

.headerActions > div {
  margin: 10px;
}

.themeSwitchContainer {
  background-color: #1c1c1e;
  display: flex;
  border-radius: 50px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  cursor: pointer;
}

.themeSwitchContainer > img {
  height: 25px;
}

.loginButton {
  background: linear-gradient(to right, #59f9b7, #66eeea);
  padding: 15px 40px;
  border-radius: 50px;
  color: black;
  cursor: pointer;
}
